{% extends "base.html" %} {% block title %} HomePage {% endblock %} {% block content %}
<style>
  .card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .card .card-heading {
    padding: 0 20px;
    margin: 0;
  }

  .card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
  }

  .card .card-heading.image img {
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .card .card-heading.image .card-heading-header {
    vertical-align: top;
  }

  .card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
  }

  .card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
  }

  .card .card-body {
    padding: 0 20px;
    margin-top: 20px;
  }

  .card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
  }

  .card .card-media img {
    max-width: 100%;
    max-height: 100%;
  }

  .card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
  }

  .card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
  }

  .card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
  }

  .card .card-comments .comments-collapse-toggle a,
  .card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
  }

  .card.people {
    position: relative;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
  }

  .card.people:first-child {
    margin-left: 0;
  }

  .card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
  }

  .card.people .card-top.green {
    background-color: #53a93f;
  }

  .card.people .card-top.blue {
    background-color: #427fed;
  }

  .card.people .card-info {
    position: absolute;
    top: 150px;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .card.people .card-info .title {
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
  }

  .card.people .card-info .desc {
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
  }

  .card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 226, 214, 0.2);
  }

  .card.hovercard:hover {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(31, 189, 31, 0.2);
  }

  .card.hovercard .cardheader {
    background: url("https://images.freecreatives.com/wp-content/uploads/2016/03/Colorful-Material-Design-Background.jpg");
    background-size: cover;
    height: 135px;
  }

  .card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
  }

  .card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
  }

  .card.hovercard .info {
    padding: 4px 8px 10px;
  }

  .card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
  }

  .card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
  }

  .card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
  }

  .btn {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 18px;
  }
  .loader {
    width: 70px;
    height: 70px;
    margin: 40px auto;
  }
  .loader p {
    font-size: 16px;
    color: #777;
  }
  .loader .loader-inner {
    display: inline-block;
    width: 15px;
    border-radius: 15px;
    background: #7ea4c7;
  }
  .loader .loader-inner:nth-last-child(1) {
    -webkit-animation: loading 1.5s 1s infinite;
    animation: loading 1.5s 1s infinite;
  }
  .loader .loader-inner:nth-last-child(2) {
    -webkit-animation: loading 1.5s 0.5s infinite;
    animation: loading 1.5s 0.5s infinite;
  }
  .loader .loader-inner:nth-last-child(3) {
    -webkit-animation: loading 1.5s 0s infinite;
    animation: loading 1.5s 0s infinite;
  }
  @-webkit-keyframes loading {
    0% {
      height: 15px;
    }
    50% {
      height: 35px;
    }
    100% {
      height: 15px;
    }
  }
  @keyframes loading {
    0% {
      height: 15px;
    }
    50% {
      height: 35px;
    }
    100% {
      height: 15px;
    }
  }
  .column{
    width:50%;float:left;
}
.column > p:first-of-type{
    text-align:center;
    margin-bottom:0;
    font-size:21px;
    color:#0084bf;
}
.column > p:last-of-type{
    text-align:center;
}
</style>
<div class="row col-md-12" id="containerall">
  
</div>
<div id="loader" class="loader container">
  <div class="row">
    <div class="col-md-12">
      <div class="loader">
        <div class="loader-inner"></div>
        <div class="loader-inner"></div>
        <div class="loader-inner"></div>
      </div>
    </div>
  </div>
</div>
<div style="display: none;" id="nofound" class="loader">
  <div>
    <img
      width="100px"
      height="auto"
      src="https://firebasestorage.googleapis.com/v0/b/diro-ac902.appspot.com/o/no-results.png?alt=media&token=bbeb0188-282e-434f-a991-761a02870c16"
    />
    <p>אין תוצאות לחיפוש</p>
  </div>
</div>
<script>
  isActive = true;
  drk = document.getElementById(`idcat_5`);
  if (drk) drk.classList.add("active");
  mypage = 1;
  function loadNext12() {
    axios
      .get('{% url "search" %}', {
        params: {
          updater: "{{my_date}}",
          page: mypage,
        },
      })
      .then((res) => {
        if (res.data.length) {
          const resultHTML = "";
          for (let i = 0; i < res.data.length; i++) {
            exper = '';
            for(let p = 0; p < res.data[i].experience_titels.length; p++){
                exper += `<span style="margin-left: 1px; margin-right: 1px;" class="label label-${res.data[i].experience_titels[p].design}">${res.data[i].experience_titels[p].category}</span>`;
                
            }
            add_to = `<a target="" href="#"><div class="col-md-3 col-sm-6">
    <div class="card hovercard">
      <div class="cardheader" style="background: url(${res.data[i].background});"></div>
      <div class="avatar">
        <img
          alt=""
          src="${res.data[i].profile_pic}"
        />
      </div>
      <div class="info">
        <div class="title">
          ${res.data[i].first_name} ${res.data[i].last_name}
        </div>
        <div class="desc">${exper}</div>
      </div>
      <div>
                    <div class="column">
                        <p>${res.data[i].experience}</p>
                        <p>שנות ניסיון</p>
                    </div>
                    <div class="column">
                        <p>${res.data[i].salary_per_hour}</p>
                        <p>לשעת עבודה</p>                            
                    </div>                        
                </div>    
    </div>
  </div></a>`;

            containerall.innerHTML += add_to;
          }
          mypage += 1;
          isActive = true;
        }
        if (res.data.length < 12) {
          document.getElementById("loader").style.display = "none";
        }
        if (res.data.length === 0 && page === 1) {
          document.getElementById("nofound").style.display = "";
        }
      });
  }
  loadNext12();
  document.onscroll = function () {
    if (isActive && isElementInViewport(loader)) {
      isActive = false;
      loadNext12();
    }
  };
</script>
{% endblock %}
